h1{
    text-align: center;
}
body{
    background-color: rgb(170, 245, 22);
}
div{
    text-align: center;
}
p{
    font-family: Verdana, Tahoma, sans-serif;
}
li{
    font-family: Verdana, Tahoma, sans-serif;
}
h3{
    font-family: 'Times New Roman', Times, serif;
}